/* prueba*/
body{

	background-image: url(../img/background1.jpg);
	background-size:15%auto;
	font-size:87.85%; /*base font size 14px*/
	font-family: Arial;
	text-align:left;
	line-height:1.5;
}

a{
	text-decoration:none;
}
a:link, a:visited{
	color:#CF5C3F;
}
a:hover, a:active{
	background-color:#CF5C3F;
	color:#FFF;	
}
.body{
	margin: 0 auto;
	width:50%;
	clear:both;
	
}

.mainheader img{
	width:100%;
	margin:2% 0;
	height:auto;
}

.mainheader nav{
	background-color:#666;
	height:40px;
	width:100%;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

.mainheader nav ul{
	list-style:none;
	margin: 0 auto;	
}
.mainheader nav ul li{
	float:left;
	display:inline;
}

.mainheader nav a:link, .mainheader nav a:visited{
	color:#FFF;
	display:inline-block;
	padding:10px 25px;
	height:20px;
}

.mainheader nav a:hover, .mainheader nav a:active,
.mainheader nav .active  a:link, .mainheader nav .active a:visited{
	background-color:#CF5C3F;
	text-shadow: none;
}
.mainheader nav ul li a{
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
.mainContent{
		border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	line-height:25px;
}
.content{
	width:70%;
	float:left;
}

.topcontent{
	background-color:#FFF;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding:3% 5%;
	margin-top:3%;
	height:50%;
}
.botcontent{
	background-color:#FFF;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding:3% 5%;
	margin-top:2%;
}
.top-sidebar{

	width:21%;
	float:left;
	padding:2% 3%;
	margin: 2% 0% 2% 3%;
}
.mid-sidebar img{
	margin-left:-15%;
	width:130%;
}
.top-sidebar img{
	margin-left:-15%;
	width:130%;	
}
.bot-sidebar img{
	margin-left:-15%;
	width:130%;
}
.mid-sidebar{
	margin-left:3%;
	width:21%;
	float:left;
	padding:2% 3%;
	margin-bottom:2%;
	height:auto%;
	
}
.bot-sidebar{
	margin-left:3%;
	width:21%;
	float:left;
	padding:2% 3%;
	margin-bottom:2%;
}
.mainFooter {
	width:100%;
	float:left;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	margin-top:2%;
	margin-bottom:2%;
	background-color: #666;
	height:40px;
	
}
.mainFooter p{
	width:92%;
	margin:10px auto;
	color:#FFF;
	
}
.post-info{
	font-style:italic;
	color:#999;
	font-size:90%
	
}
@media screen and (min-width: 150px) and (max-width: 600px)
{	
		.body{
			width:90%;
			font-size:95%;	
		}
		.mainheader img{
			width:100%;

		}
		.mainheader nav{
			height:240px;
		}

		.mainheader nav ul{
		padding-left:0;
		}
		.mainheader nav ul li{
		width:100%;
		text-align:center;
		}	

		.mainheader nav a:link, .mainheader nav a:visited{
			padding:10px 25px;
			height:20px;
			display:block;
		}

	.content{
		width:100%;
		float:left;
		margin-top:2%;
		}

		.post-info{
			display:none;
		}
	.topcontent{
		background-color:#FFF;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		padding:3% 5%;
		margin-top:2%;
		margin-bottom:4%;
		}
	.botcontent{

		margin-top:3%;
	}
	.top-sidebar{

	width:95%;
	float:left;
	background-color:#FFF;
	margin: 2% 0% 2% 0%;
	padding: 2% 3%;
	margin-top:5%;
	
}
.mid-sidebar{

	width:95%;
	float:left;
	background-color:#FFF;
	margin: 2% 0% 2% 0%;
	padding: 2% 3%;
	margin-top:3%;
}
.bot-sidebar{

	width:95%;
	float:left;
	background-color:#FFF;
	margin: 2% 0% 2% 0%;
	padding: 2% 3%;
	margin-top:3%;
}
.mainFooter {

	height:60px;
}